:root{
  --lavendar: #ba82ed;
  --dark-lavendar: #701099;
  --lightblue: #bfe8f5;
  --periwinkle: #ccdaff;
  --mauve: #e4aef2;
  --lightpink: #ffe5ff;
  --mindaro: #eefcac;
  --licorice: #200010;
  --whispers: #f7f7ff;
}

@font-face {
  font-family: "alwaysHearts";
  src: url(fonts/always-in-my-heart.ttf);
}

body {
  color: var(--licorice);
  margin: 0px;
  background: var(--whispers);
}

h1 {
  font-family: "alwaysHearts";
}

button {
  background: var(--mauve);
  border-width: 0px;
  padding: 8px;
  border-radius: 8px;
  color: var(--licorice);
  font-size: 16px;
}

.navBar {
  background: var(--lavendar);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.navElement {
  float: left;
  vertical-align: middle;
  margin: 10px;
}

.tab {
  margin: 0px 10px 0px 10px;
}

#headerBorder{
  height: 4px;
  background-color: var(--dark-lavendar);
}
