:root{
  --lavendar: #ba82ed;
  --lightblue: #bfe8f5;
  --periwinkle: #ccdaff;
  --mauve: #e4aef2;
  --mindaro: #eefcac;
}

body {

}

.navBar {
  background: var(--lavendar);
}

.navElement {
  float: left;
}
